<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fund My Project!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div >
    <header>
        <h1>MealMapper</h1>
      <nav>
    {{!-- nav bar needs links to home screen, login/signup screen, logout screen, profile screen, calorie counter and meal planner --}}
      </nav>
    </header>
    <main>
      <!-- Other views will go here -->
      {{{ body }}}
    </main>
    <footer>
      {{!-- needs creator info and contact links added --}}
    </footer>
  </div>

</body>

</html>