<div class="container mt-5">
	<section class="row align-items-center">

		<div class="col text-center">
			<h1>Welcome to MealMapper!</h1>
			<!-- {{!-- some kind of descriptive text, putting placeholder for now --}} -->
			<p>"MealMapper is your personalized nutrition companion. MealMapper allows
				you to easily track your daily nutritional intake. The app not only
				suggests delicious recipes based on your preferences but also recommends
				additional ingredients to complete your meals, making it ideal for meal
				preparations. Get ready to explore a world of culinary delights while
				staying informed about your nutritional dietary consumption."
			</p>
			<button>Click here to Login/Signup!</button>
		</div>
		<div class="col">
			<img src="/public/images/mm7.jpg" alt="" />
		</div>
	</section>

	<div>
		<section>
			<!-- {{!-- User Testimonials --}} -->
			<h2 class="text-center mt-5">Here's what our user's have to say!</h2>
			<div class="row g-2">
				<div class="card col-xl-3 col-6">
					<div class="card-header">
						Review Title
					</div>
					<div class="card-body">
						<div
							class="bg-image hover-overlay"
							data-mdb-ripple-init
							data-mdb-ripple-color="light"
						>
							<img src="/images/mm5.jpg" class="img-fluid" />
							<blockquote class="blockquote mb-0">
								<p class="my-italic-text">This meal was easy and delicious,
									would highly recommend this app!</p>
								<footer class="blockquote-footer">Adam F.</footer>
							</blockquote>
						</div>
					</div>
				</div>
				<div class="card  col-xl-3 col-6">
					<div class="card-header">
						Review Title
					</div>
					<div class="card-body">
						<blockquote class="blockquote mb-0">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
								voluptatem pariatur, reprehenderit laborum, illum aliquam ipsa
								expedita repellendus soluta libero facilis quasi. Nobis facilis
								ullam deleniti accusamus saepe vel quis?</p>
							<footer class="blockquote-footer">User</footer>
						</blockquote>
					</div>
				</div>
				<div class="card  col-xl-3 col-6">
					<div class="card-header">
						Review Title
					</div>
					<div class="card-body">
						<blockquote class="blockquote mb-0">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
								voluptatem pariatur, reprehenderit laborum, illum aliquam ipsa
								expedita repellendus soluta libero facilis quasi. Nobis facilis
								ullam deleniti accusamus saepe vel quis?</p>
							<footer class="blockquote-footer">User</footer>
						</blockquote>
					</div>
				</div>
				<div class="card  col-xl-3 col-6">
					<div class="card-header">
						Review Title
					</div>
					<div class="card-body">
						<blockquote class="blockquote mb-0">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
								voluptatem pariatur, reprehenderit laborum, illum aliquam ipsa
								expedita repellendus soluta libero facilis quasi. Nobis facilis
								ullam deleniti accusamus saepe vel quis?</p>
							<footer class="blockquote-footer">User</footer>
						</blockquote>
					</div>
				</div>

			</div>

		</section>

	</div>
</div>
