<h1>MealMapper</h1>
<div>
    <section>
        {{!-- want to put some kind of image next to the text --}}
        <h1>Welcome to MealMapper!</h1>
        {{!-- some kind of descriptive text, putting placeholder for now --}}
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates aliquam expedita, reprehenderit nostrum
            eligendi nulla, odit amet incidunt illum debitis inventore laboriosam harum eius temporibus beatae eaque
            dignissimos facere exercitationem?</p>
        {{!-- Needs Login and signup form next to the desription and some kind of picture --}}
    </section>
    <section>
        {{!-- User Testimonials --}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum asperiores excepturi corporis sit labore, amet, eius, repellat modi alias deserunt voluptates. Dolorum quisquam optio, quos impedit totam veritatis qui enim!</p>
    </section>

</div>