<div>
    <div>
        <h1>Login/Signup Page</h1>
    </div>
    <div>
        {{!-- Login form put in a card --}}
        <div class="card">
            <h2>Login</h2>
        </div>
        {{!-- Signup form put in a card--}}
        <div class="card">
            <h2>Signup</h2>
        </div>
    </div>
</div>