<div class="container-fluid">
                <div class="row text-center m-5">
                    <h1>Login/Signup Page</h1>
                </div>
                <div>

                    <div class="row justify-content-evenly mb-5">


                        <div class="card col-sm-5">
                            <article class="card-body">
                                <h4 class="card-title mb-4 mt-1">Sign In</h4>
                                <form>
                                    
                                    <div class="form-group">
                                        <label>Your Email:</label>
                                        <input name="" class="form-control" placeholder="Email" type="email">
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                        <label>Your Password:</label>
                                        <input class="form-control" placeholder="******" type="password">
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                    </div> <!-- form-group// -->
                                    <div class="form-group row">
                                        <button type="submit" class="btn btn-primary btn-block mt-2"> Login </button>
                                    </div> <!-- form-group// -->
                                </form>
                            </article>
                        </div> <!-- card.// -->
                        <div class="card col-sm-5">
                            <article class="card-body">
                                <h4 class="card-title mb-4 mt-1">Sign Up</h4>
                                <form>
                                    <div class="form-group">
                                        <label>Your Name:</label>
                                        <input name="" class="form-control" placeholder="Email" type="email">
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                        <label>Your Email:</label>
                                        <input name="" class="form-control" placeholder="Email" type="email">
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                        <label>Your Password:</label>
                                        <input class="form-control" placeholder="******" type="password">
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                    </div> <!-- form-group// -->
                                    <div class="form-group row">
                                        <button type="submit" class="btn btn-primary btn-block mt-2"> Submit </button>
                                    </div> <!-- form-group// -->
                                </form>
                            </article>
                        </div> <!-- card.// -->

                    </div>
                </div>