<div class="container-fluid">
                <div class="row text-center m-5">
                    <h1>Login/Signup Page</h1>
                </div>
                <div>

                    <div class="row justify-content-evenly mb-5">


                        <div class="card col-sm-5">
                            <article class="card-body">
                                <h4 class="card-title mb-4 mt-1">Sign In</h4>
                                <form class="login-form">
                                    
                                    <div class="form-group">
                                        <label for="email-login">Your Email:</label>
                                        <input class="form-input" placeholder="Email" type="email" id="email-login">
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                        <label for="password-login">Your Password:</label>
                                        <input class="form-input" placeholder="******" type="password" id="password-login">
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                    </div> <!-- form-group// -->
                                    <div class="form-group row">
                                        <button type="submit" class="btn btn-primary btn-block mt-2"> Login </button>
                                    </div> <!-- form-group// -->
                                </form>
                            </article>
                        </div> <!-- card.// -->
                        <div class="card col-sm-5">
                            <article class="card-body">
                                <h4 class="card-title mb-4 mt-1">Sign Up</h4>
                                <form class="signup-form">
                                    <div class="form-group">
                                        <label for="name-signup">Your Name:</label>
                                        <input class="form-input" placeholder="Name" type="text" id="name-signup">
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                        <label for="email-signup">Your Email:</label>
                                        <input class="form-input" placeholder="Email" type="email" id="email-signup">
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                        <label for="password-signup">Your Password:</label>
                                        <input class="form-input" placeholder="******" type="password" id="password-signup">
                                    </div> <!-- form-group// -->
                                    <div class="form-group">
                                    </div> <!-- form-group// -->
                                    <div class="form-group row">
                                        <button type="submit" class="btn btn-primary btn-block mt-2"> Submit </button>
                                    </div> <!-- form-group// -->
                                </form>
                            </article>
                        </div> <!-- card.// -->

                    </div>
                    <script src="./js/login.js"></script>
                </div>