 <div>
        <div>
            <h1>Meal Planner</h1>
            <p>Plan out your meals for the week in advance!</p>
        </div>
        <section>
            <div>
                <h3>Sunday</h3>
                <button class="open-modal-btn" data-day="sunday">Add Meal</button>
                <div id="sunday-meals"></div>
            </div>
            <div>
                <h3>Monday</h3>
                <button class="open-modal-btn" data-day="monday">Add Meal</button>
                <div id="monday-meals"></div>
            </div>
            <div>
                <h3>Tuesday</h3>
                <button class="open-modal-btn" data-day="tuesday">Add Meal</button>
                <div id="tuesday-meals"></div>
            </div>
            <div>
                <h3>Wednesday</h3>
                <button class="open-modal-btn" data-day="wednesday">Add Meal</button>
                <div id="wednesday-meals"></div>
            </div>
            <div>
                <h3>Thursday</h3>
                <button class="open-modal-btn" data-day="thursday">Add Meal</button>
                <div id="thursday-meals"></div>
            </div>
            <div>
                <h3>Friday</h3>
                <button class="open-modal-btn" data-day="friday">Add Meal</button>
                <div id="friday-meals"></div>
            </div>
            <div>
                <h3>Saturday</h3>
                <button class="open-modal-btn" data-day="saturday">Add Meal</button>
                <div id="saturday-meals"></div>
            </div>
        </section>
        <button id="save-meal-plan">Save Meal Plan</button>

 <div id="search-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            <div class="row">
                <div class="col-md-8">
                    <form id="food-search-form">
                        <input type="text" id="query" class="form-control" placeholder="Search for food">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                    <div id="search-results"></div>
                    <div id="food-details"></div>
                    <div id="nutrient-results"></div>
                    {{!-- <input type="text" id="serving-size" class="form-control" placeholder="Enter amount in grams">
                    <button id="calculate" class="btn btn-primary">Calculate Nutrients</button> --}}
                </div>
                <div class="col-md-4">
                    <div id="recipe-results" class="recipe-results"></div>
                    <button id="recipe-search-btn" class="btn btn-secondary">Recipe Search</button>
                    <button id="add-meal" class="btn btn-primary">Add Meal</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/modal.js"></script>
    <script src="/js/ingredientSearch.js"></script>
    <script src="/js/recipeSearch.js"></script>
</body>
</html>