
    <div>
        <div>
            <h1>Meal Planner</h1>
            <p>Plan out your meals for the week in advance!</p>
        </div>
        <section>
            <div>
                <h3>Sunday</h3>
                <button class="open-modal-btn" data-day="sunday">Add Meal</button>
                <div id="sunday-meals"></div>
            </div>
            <div>
                <h3>Monday</h3>
                <button class="open-modal-btn" data-day="monday">Add Meal</button>
                <div id="monday-meals"></div>
            </div>
            <div>
                <h3>Tuesday</h3>
                <button class="open-modal-btn" data-day="tuesday">Add Meal</button>
                <div id="tuesday-meals"></div>
            </div>
            <div>
                <h3>Wednesday</h3>
                <button class="open-modal-btn" data-day="wednesday">Add Meal</button>
                <div id="wednesday-meals"></div>
            </div>
            <div>
                <h3>Thursday</h3>
                <button class="open-modal-btn" data-day="thursday">Add Meal</button>
                <div id="thursday-meals"></div>
            </div>
            <div>
                <h3>Friday</h3>
                <button class="open-modal-btn" data-day="friday">Add Meal</button>
                <div id="friday-meals"></div>
            </div>
            <div>
                <h3>Saturday</h3>
                <button class="open-modal-btn" data-day="saturday">Add Meal</button>
                <div id="saturday-meals"></div>
            </div>
        </section>
        <button id="save-meal-plan">Save Meal Plan</button>

        <div id="search-modal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close-modal">&times;</span>
                <form id="food-search-form">
                    <input type="text" id="query" placeholder="Search for food">
                    <button type="submit">Search</button>
                </form>
                <div id="search-results"></div>
                <div id="food-details"></div>
                <input type="number" id="amount" placeholder="Enter amount in grams">
                <button id="calculate">Calculate Nutrients</button>
                <div id="nutrient-results"></div>
                <button id="add-meal">Add Meal</button>
            </div>
        </div>
    </div>

    <script src="/js/modal.js"></script>
    <script src="/js/ingredientSearch.js"></script>
