<div>
    <div>
        <h1>Meal Planner</h1>
        <p>Plan out your meals for the week in advance!</p>
    </div>
    <section>
        <div>
            <h3>Sunday</h3>
            {{!-- button to open a modal with a searchbar maybe? --}}
            <button></button>
        </div>

        <div>
            <h3>Monday</h3>
            {{!-- button to open a modal with a searchbar maybe? --}}
            <button></button>
        </div>

        <div>
            <h3>Tuesday</h3>
            {{!-- button to open a modal with a searchbar maybe? --}}
            <button></button>
        </div>

        <div>
            <h3>Wednesday</h3>
            {{!-- button to open a modal with a searchbar maybe? --}}
            <button></button>
        </div>

        <div>
            <h3>Thursday</h3>
            {{!-- button to open a modal with a searchbar maybe? --}}
            <button></button>
        </div>

        <div>
            <h3>Friday</h3>
            {{!-- button to open a modal with a searchbar maybe? --}}
            <button></button>
        </div>

        <div>
            <h3>Saturday</h3>
            {{!-- button to open a modal with a searchbar maybe? --}}
            <button></button>
        </div>
    </section>
</div>