<div>
    <div>
        <h1>Calorie Tracker</h1>
        <p>Find and track how many calories are in the foods you eat!</p>
    </div>
    <section>
        <h2>Breakfast</h2>
        {{!-- button to open a modal with a searchbar maybe? --}}
        <button></button>
        <ul>
            {{!-- append data from api to list --}}
        </ul>
    </section>

    <section>
        <h2>Lunch</h2>
        {{!-- button to open a modal with a searchbar maybe? --}}
        <ul>
            {{!-- append data from api to list --}}
        </ul>
    </section>

    <section>
        <h2>Dinner</h2>
        {{!-- button to open a modal with a searchbar maybe? --}}
        <ul>
            {{!-- append data from api to list --}}
        </ul>
    </section>

    <section>
        <h2>Snacks</h2>
        {{!-- button to open a modal with a searchbar maybe? --}}
        <ul>
            {{!-- append data from api to list --}}
        </ul>
    </section>

</div>