:root {
  --orange: #866150;
  --green: #6d8a47;
  --blue: #88b0c0;
  --yellow: #c4ae6d;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

.main-container {
  min-height: 79vh;
}

.image-container {
  background-image: url("/images/mm5.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.dashboard-card {
  height: 80%;
  color: white;
  background-color: #f3652388 !important;
}

.dashboard-btn {
  background-color: var(--yellow);
}

.dashboard-btn:hover {
  background-color: #ffc30f5b;
}

.meals {
  background-color: #e9ecef !important;
}

 /* Styles for the modal */
 .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.modal-content {
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
}

